In [1]:
import pandas as pd 
data = pd.read_csv('/home/kamlesh/AnacondaProjects/Dataquest/Data/AmesHousing.txt',delimiter='\t')
data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [33]:
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
train = pd.DataFrame()
test = pd.DataFrame()

def train_and_test(data):
    train = data[:1460]
    test = data[1460:]
    
    numeric_train = train.select_dtypes(include=['integer','float']).columns
    numeric_test = test.select_dtypes(include=['integer', 'float']).columns

    train = train[numeric_train].dropna()
    test = test[numeric_test].dropna()
    print(train.columns)
    features = train.columns.drop('SalePrice')
    
    lr = linear_model.LinearRegression()
    lr.fit(train[features],train["SalePrice"])
    predictions = lr.predict(test[features])
    
    mse = mean_squared_error(test["SalePrice"], predictions)
    rmse = mse ** 0.5
    return rmse

def transform_features(data):
    return data

def select_features():
    features = ['Gr Liv Area','SalePrice']
    return train[features]

In [34]:
transform_df = transform_features(data)
rmse = train_and_test(transform_df)

print(rmse)

Index(['Order', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
       'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd',
       'Fireplaces', 'Garage Yr Blt', 'Garage Cars', 'Garage Area',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'SalePrice'],
      dtype='object')
74465.7696083